<template>
  <Listbox v-model="selected">
    <div class="relative mt-2">
      <ListboxButton
          class="relative w-full cursor-default rounded-md bg-white py-1.5 pl-3 pr-10 text-left text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6">
        <span class="block truncate">{{ selected.name }}</span>
        <span class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2">
          <ChevronUpDownIcon class="h-5 w-5 text-gray-400" aria-hidden="true"/>
        </span>
      </ListboxButton>

<!--      <transition leave-active-class="transition ease-in duration-100"-->
<!--                  leave-from-class="opacity-100"-->
<!--                  leave-to-class="opacity-0">-->
        <ListboxOptions
            class="absolute z-10 mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm">
          <ListboxOption
              as="template"
              v-slot="{ active, selected }"
              v-for="(datum, index) in data"
              :key="index"
              :value="datum">
            <li :class="[active ? 'bg-indigo-600 text-white' : 'text-gray-900', 'relative cursor-default select-none py-2 pl-3 pr-9']">
              <span :class="[selected ? 'font-semibold' : 'font-normal', 'block truncate']">{{ datum.name }}</span>
              <span
                  v-if="selected"
                  class="absolute inset-y-0 left-0 flex items-center pl-3 text-amber-600"
              >
                </span>
            </li>
          </ListboxOption>
        </ListboxOptions>
<!--      </transition>-->
    </div>
  </Listbox>
</template>

<script setup lang="ts">
import {Listbox, ListboxButton, ListboxOption, ListboxOptions} from '@headlessui/vue'
import {ChevronUpDownIcon} from '@heroicons/vue/20/solid'

const {data} = defineProps<{
  data: {
    id: number,
    name: string,
  }
}>();

const selected = ref(data[0])
</script>