<template>
  <tbody>
  <tr v-for="(datum, index) in state_data?.data">
    <td rowspan="3" v-if="index === '1'" class="align-text-top">
      <div>
        {{state_data?.name ?? '-'}}
        <br>Minima: RM {{state_data?.minimum.toFixed(2) ?? '0.00'}}
      </div>

      <div class="md:hidden flex flex-col max-w-xl mt-4">
        <div class="flex w-1/2 justify-between">
          <span class="font-semibold">Tier (m<sup>3</sup>)</span>
          <span class="font-semibold">RM</span>
        </div>
        <div v-for="datum2 in state_data?.data" class="flex w-1/2 justify-between">
          <span>{{ datum2?.tier ?? 'N/A' }}</span>
          <span>{{ datum2.price }}</span>
        </div>
      </div>
    </td>
    <td class="hidden md:table-cell">{{ datum?.tier ?? 'N/A' }}</td>
    <td class="hidden md:table-cell text-right">{{ datum.price }}</td>
  </tr>
  </tbody>
</template>

<script setup>
  defineProps(['state_data'])
</script>