@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-50;
}

@layer components {
    .btn {
        @apply bg-yellow-500 text-white font-bold py-2 px-4 rounded;
    }

    .card {
        @apply rounded-xl bg-white shadow-sm p-4 hover:shadow-md transition duration-300 ease-in-out;
    }
}

.router-link-exact-active {
    color: #0055ff;
}