<script setup lang="ts">
import {ref} from "vue";
import LoadingPanel from "~/components/LoadingPanel.vue";

interface ICopyToClipboard {
  /** HTML reference identifier ```<div id="foo"></div>```  */
  target?: string;
  /** String value */
  value?: string;
  /** (Optional) message to display in snackbar on success */
  message?: string;
}

const password = ref('');
const words = ['elpis', 'aeschylus', 'muthu', 'ridzuan', 'mohamad', 'muhammad',
  'phua', 'wangyosri', 'linggam', 'satwant', 'pattonoor',
  'hana', 'sofi', 'wan', 'shahila', 'zikryphang',
  'shar', 'jengmohd', 'sham', 'hairollkaharen', 'boo', 'kuonuur',
  'khaliesah', 'mahyuddinnuur', 'wahida', 'binti', 'syed', 'elyasmohamed',
  'narul', 'bin', 'musiran', 'persistent', 'static', 'hierarchypolarised',
  'systemic', 'alliancetriple-buffered', 'exuding', 'extranetdigitized',
  'nextgeneration', 'forecastmulti','channelled', 'non-volatile',
  'budgetary','management','multi', 'tiered', 'system', 'worthy', 'emulationrobust',
  'transitional', 'hardwareuniversal', 'bifurcated', 'strategycustomer','focused', 'national',
  'accessnetworked', 'disintermediate', 'forecast', 'kuda','kucing','kambing','unta']

let isLoading = false;
const isCopied = ref(false);

const generate = () => {
  isLoading = !isLoading
  // password.value = 'test';
  password.value = randomPassword()
  isLoading = !isLoading
}

const randomPassword = () => {
  isCopied.value = false

  const max = Math.floor(Math.random() * 4 + 3)
  const number_stack = randomIntFromInterval(1, max)
  console.log(max, number_stack)
  let new_password = ''
  for(let i = 1; i <= max; i++) {

    if(i == number_stack) {
      new_password += randomIntFromInterval(1970,(new Date()).getFullYear())
    } else {
      let is_caps = randomIntFromInterval(1, 2);
      if(is_caps == 1) {
        new_password += words[randomIntFromInterval(0, words.length - 1)].toUpperCase()
      } else {
        new_password += words[randomIntFromInterval(0, words.length - 1)]
      }
    }

    if(i != max) {
      new_password += '-'
    }
  }

  return new_password
}

const randomIntFromInterval = (min: number, max: number) => { // min and max included
  return Math.floor(Math.random() * (max - min + 1) + min)
}

const copyContent = async () => {
  try {
    await navigator.clipboard.writeText(password.value);
    isCopied.value = true
    console.log('Content copied to clipboard');
  } catch (err) {
    console.error('Failed to copy: ', err);
  }
}
</script>

<template>
  <LoadingPanel v-if="isLoading"/>
  <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
    <div
        class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"/>
  </div>
  <div class="mx-auto max-w-5xl py-18 sm:py-48 lg:py-24">
    <div class="text-center">
      <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Password Generator</h1>
      <p class="mt-6 text-lg leading-8 text-gray-600">Generate some password</p>
      <p>{{ password }}</p>
      <button v-if="password != ''" :class="{'bg-green-700' : isCopied}" class="btn mt-8 mr-4"
              @click="copyContent">
        Copy To Clipboard
      </button>
      <button class="btn btn-primary mt-8"
              @click="generate">
        Generate Password
      </button>
    </div>
  </div>
  <div
      class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
      aria-hidden="true">
    <div
        class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"/>
  </div>
</template>

<style scoped>

</style>